<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script defer src="../static/scripts/main.js"></script>
        <link rel="stylesheet" href="../static/styles/index.css" />
    </head>
    <body>
        <section id="speech-container">
            <div class="absolute bottom-[5vh] right-[5vw]">
                <a href="/" class="relative z-1">
                    <div
                        class="button w-40 h-16 bg-blue-500 cursor-pointer select-none active:translate-y-2 active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841] active:border-b-[0px] transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841] rounded-full border-[1px] border-blue-400"
                    >
                        <span
                            class="flex flex-col justify-center items-center h-full text-white font-bold text-lg"
                            >Go Back</span
                        >
                    </div>
                </a>
            </div>
            <div class="container">
                <h1>How are you holding up?</h1>

                <div class="section-px">
                    <div class="speech-to-text">
                        <button id="speech" class="mic-btn">
                            <div class="pulse-ring"></div>
                            <img src="../static/img/microphone.png" alt="" />
                        </button>

                        <div class="words" contenteditable>
                            <p id="p"></p>
                        </div>
                    </div>
                </div>

                <div class="previous-logs">
                    <h2>You did well with these events, today is no different!</h2>

                    <div class="logs">
                        <div class="logs__item">
                            <div class="date info">
                                <img src="../static/img/calendar.png" alt="Calendar" />
                                <span> October 03, 2022</span>
                            </div>
                            <div class="event info">
                                <img src="../static/img/event.png" alt="Event" />
                                <span>Epic Poetry </span>
                            </div>
                            <div class="gps info">
                                <img src="../static/img/gps.png" alt="gps" />
                                <span>Maybank Performing Arts Theater</span>
                            </div>
                            <div class="msg">
                                <span
                                    >Be yourself, but always your better self. Keep taking time for
                                    yourself until you're you again.</span
                                >
                            </div>
                        </div>
                        <div class="logs__item">
                            <div class="date info">
                                <img src="../static/img/calendar.png" alt="Calendar" />
                                <span>November 12, 2022</span>
                            </div>
                            <div class="event info">
                                <img src="../static/img/event.png" alt="Event" />
                                <span>Duplo</span>
                            </div>
                            <div class="gps info">
                                <img src="../static/img/gps.png" alt="gps" />
                                <span>Globe Auditorium</span>
                            </div>
                            <div class="msg">
                                <span
                                    >I'm proud of myself for even trying. That took courage. I will
                                    give it my best shot.</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
