<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdn.tailwindcss.com"></script>

        <script defer src="../static/scripts/main.js"></script>
        <link rel="stylesheet" href="../static/styles/index.css" />
    </head>
    <body>
        <section id="drag-and-drop">
            <div id="dropZone">
                <div id="dropBox1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p class="heading">Stress jar</p>
                </div>
                <div id="dropBox2" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p class="heading">Worry jar</p>
                </div>
            </div>

            <div id="animals" ondrop="drop(event)" ondragover="allowDrop(event)">
                <form class="words-form">
                    <input type="text" placeholder="Thought input" id="thought-input" />
                    <button id="submitBtn">Submit</button>
                </form>
                <ul id="draggableItemsList"></ul>
            </div>
        </section>

        <div class="absolute bottom-[5vh] right-[5vw]">
            <a href="/diary" class="relative z-1">
                <div
                    class="button w-40 h-16 bg-blue-500 cursor-pointer select-none active:translate-y-2 active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841] active:border-b-[0px] transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841] rounded-full border-[1px] border-blue-400"
                >
                    <span
                        class="flex flex-col justify-center items-center h-full text-white font-bold text-lg"
                        >Next</span
                    >
                </div>
            </a>
        </div>
    </body>
</html>
