<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!DOCTYPE html>
    <html>
        <body class="overflow-hidden h-screen">
            <video class="object-cover w-full" controls autoplay>
                <source src="../static/img/warmup2.mp4" type="video/mp4" />
                <source src="../static/img/warmup2.mp4" type="video/mp4" />
            </video>

            <div class="absolute bottom-[5vh] right-[5vw]">
                <a href="/stress" class="relative z-1">
                    <div
                        class="button w-40 h-16 bg-blue-500 cursor-pointer select-none active:translate-y-2 active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841] active:border-b-[0px] transition-all duration-150 [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841] rounded-full border-[1px] border-blue-400"
                    >
                        <span
                            class="flex flex-col justify-center items-center h-full text-white font-bold text-lg"
                            >Next</span
                        >
                    </div>
                </a>
            </div>
        </body>
    </html>
</body>
