@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("landing.css");
@import url("meditation.css");
@import url("diary.css");

body {
    font-family: "Poppins", sans-serif;
}

.warmup-vid {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#animals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 5rem;
}

#dropZone .heading {
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 10px;
}

#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 1px solid #aaaaaa;
    padding: 1rem;
}

img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.drag-and-drop {
    padding-bottom: 5rem;
}

.words-form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.words-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.words-form button {
    background: #3b82f6;
    color: #fff;
    border-radius: 1rem;
    padding: 0.7rem 1.5rem;
}

#draggableItemsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

#draggableItemsList li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
